@font-face {
    font-family: Zilla_Slab_Highlight;
    src: url(fonts/Nabla/Nabla-Regular.ttf);
}

@font-face {
    font-family: VT323;
    src: url(fonts/VT323/VT323-Regular.ttf);
}

.main-title {
    margin-left: 5%;
    font-size: 32px;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    color: #5d80ef;
}

@media only screen and (max-width: 640px) {
    .main-title {
        font-size: 20px;
    }
  }

.blog-title {
    margin-left: 5%;
    font-size: 32px;
    font-family: Zilla_Slab_Highlight;
    color: black;
    text-shadow: 4px 4px;
}

.sub-title {
    margin-top: -45px;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  24px;
}

@media only screen and (max-width: 640px) {
    .sub-title {
        font-size: 18px;
        margin-top: -25px;
    }
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
}

.footer a {
    color: inherit;
}

/* .menu {
    margin-top: 5%;
    margin-left: 5%;
    border: 2px solid black;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    width: 100px;
} */

.hidden {
    display: none;
}

.site-container {
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
}

.menu-container {
    margin-top: 0%;
    margin-left: 5%;
}

.text-box-container {
    margin-top: 0%;
    width: 100%;
    margin-right: 5%;
}

.menu-animated {
    border: 2px solid black;
    border-radius: 7px;
    font-family: VT323;
    font-size: 24px;
    text-align: center;
    width: 90px;
    position: relative;
    animation: mymove 0.2s;
    animation-fill-mode: forwards;
    /* background-color: #5d80ef; */
    box-shadow: 5px 5px;
    margin-right: 16px;
}

@keyframes mymove {
    from {
        top: -400px;
    }
    to {
        top: 0px;
    }
}

.post-list {
    border: 2px solid black;
    border-radius: 7px;
    font-family: VT323;
    font-size: 24px;
    /* position: relative; */
    box-shadow: 5px 5px;
    height: 300px;
}

.rectangle {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 13px;
    background-color: black;
    color: white;
    border-radius: 7px;
    padding: 20px;
    height: 500px;
    overflow: auto;
    /* transition: width 0.3s, height 0.3s; */
}